.p-1 {
  padding-inline: var(--size-1);
  padding-block: var(--size-1);
}

.p-2 {
  padding-inline: var(--size-2);
  padding-block: var(--size-2);
}

.p-3 {
  padding-inline: var(--size-3);
  padding-block: var(--size-3);
}

.p-4 {
  padding-inline: var(--size-4);
  padding-block: var(--size-4);
}
