---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home - My Awesome Website">
  <div class="container">
    <h1>My Awesome Website</h1>

    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus
      accusamus placeat ratione! Placeat sapiente quasi provident, repudiandae
      cumque possimus velit quaerat dolorum, dolores, modi dignissimos autem
      consequuntur sequi vel neque.
    </p>
  </div>
</Layout>
