---
import Layout from "../layouts/Layout.astro";

import Warning from "../assets/images/warning.svg";

import Button from "../components/Button.astro";
import Window from "../components/Window.astro";
---

<Layout title="Home - My Awesome Website">
  <div class="container">
    <h1>My Awesome Website</h1>

    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus
      accusamus placeat ratione! Placeat sapiente quasi provident, repudiandae
      cumque possimus velit quaerat dolorum, dolores, modi dignissimos autem
      consequuntur sequi vel neque.
    </p>

    <div class="flex gap-4 mt-4">
      <Button text="yes" keyboard />
      <Button text="no" keyboard />
      <Button text="help" keyboard />
      <Button text="normal" />
    </div>

    <div class="mt-4">
      <Window title="Internet Explorer">
        <div class="flex gap-4">
          <div>
            <img src={Warning.src} alt="" style="margin-top: .3lh;" />
          </div>

          <div class="flow">
            <p class="text-black">
              Internet Explorer 3.0 is not currently your default browser. Would
              you like to make it your default browser?
            </p>

            <div class="flex justify-end gap-4">
              <Button text="yes" keyboard size="sm" />
              <Button text="no" keyboard size="sm" />
            </div>
          </div>
        </div>
      </Window>
    </div>
  </div>
</Layout>
