---
interface Props {
  id: string;
  anchor: string;
  position?: "top" | "left";
}

const { id, anchor, position = "top" } = Astro.props;
---

<div popover id={id}>
  <slot />
</div>

<style define:vars={{ anchor, position }}>
  [popover] {
    margin-block-end: var(--size-4);
    position-anchor: var(--anchor);
    position-area: var(--position);

    &::backdrop {
      background-color: rgba(0 0 0 / 0.7);
    }
  }
</style>
