:root {
  --container-max-width-sm: 540px;
  --container-max-width-md: 720px;
  --container-max-width-lg: 960px;
  --container-max-width-xl: 1140px;
  --container-max-width-xxl: 1320px;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-neutral-50: #e3e3e3;
  --color-neutral-100: #c3c3c3;
  --color-neutral-200: #a0a0a0;
  --color-neutral-300: #8e8e8e;

  --color-red-100: #eb3323;
  --color-red-200: #9c2054;

  --color-green-100: #26b50f;
  --color-green-200: #008282;

  --color-blue-50: #001cf5;
  --color-blue-100: #000ea3;
  --color-blue-200: #02007f;

  --font-family-base: "Oldschool", var(--font-sans);
}
